
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
body{
        background-image:url(images/);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-shadow: #ddd;
    
    }
   

}

body{
    background-image: url("chassis.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}




header {
    background-color: #0b0d10;
    color: white;
    padding: 20px;
    margin:20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.products ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.company-profile img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.mission-statement {
    background-color: #3498db;
    padding: 20px;
    border-radius: 5px;
}
.product_image{
    width:200px;
}
.welcome{
    
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;

}
.h1{
    text-align: center;
   
}
.company-profile{
    .p{
        scroll-padding-right: 90px;
    }
    text-align: center;
    
    
}
.contact{
    text-align: center;
}
.container {
    display: grid;
    height: 120px;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  
  @media (min-width: 720px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);

    }

  }
.signin{
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;
}

.button {
        padding: 10px 20px;
        font-size: 10px;
        color: rgb(10, 10, 12);
        background-color: #9661dc;
        border: none;
        border-radius: 200px;
        position: relative; /* Set position to relative */
        transform: translate(550px, 410px); /* Shift right and down */
}




